@charset "UTF-8";
header {
  grid-area: header;
}
header .logoNavb {
  width: 15rem;
}
header .fuenteNav {
  font-size: 1.1rem;
  padding-left: 2rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
header .fuenteNav li a:hover {
  background-color: #80AF9A;
  color: white;
}

nav {
  grid-area: nav;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #80AF9A;
}

.txtH2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
  background-color: #10432c;
}

.txtPlanta {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #2d7f5a;
  font-weight: 600;
}

.txtP {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.btnCard {
  color: #fff;
  background-color: #39a173;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  transition: all 2s;
}
.btnCard:hover {
  color: #fff;
  background-color: #113022;
  transform: scale(1.8, 1.8);
  font-size: 25px;
  text-transform: uppercase;
}

.cardP {
  padding: 1rem;
}

.star {
  font-size: 32px;
  color: #bbb;
  transition: color 0.3s;
  cursor: pointer;
}
.star:hover {
  color: gold;
}

@media (min-width: 350px) and (max-width: 700px) {
  .textP {
    margin: 5rem;
    margin-right: 2rem;
  }
}
main .colorDeTexto {
  color: #fff;
}
main .tamañoDeTexto {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}
main .boton {
  transition: all 2s;
}
main .boton:hover {
  color: #fff;
  background-color: #26533f;
  text-transform: uppercase;
  transform: scale(1.8, 1.8);
}
main h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 130px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
main .tamañoForm {
  width: 18rem;
}
main .fontF {
  font-family: "Montserrat", sans-serif;
}
main .imgMP {
  margin-left: -10rem;
  padding-top: 6rem;
}
main .imgMP2 {
  margin-left: 24rem;
  margin-top: -35rem;
}
main .textoH2 {
  background-color: #284f3e;
  color: #fff;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
}
main .parrafoQS {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-left: -7rem;
  margin-right: -18rem;
  margin-top: 8rem;
  padding: 1rem;
  text-align: center;
}
main .parrafoQS2 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-left: -27rem;
  margin-right: 22rem;
  margin-top: 9rem;
  padding: 1rem;
  text-align: center;
}
main .textoCm {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 17px;
  padding: 10px;
}
main .textP {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
}
main h2 {
  font-weight: bold;
  text-decoration: underline;
  color: #fff;
  background-color: #284f3e;
}
main .videoCm {
  border: double;
}
main .videoFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenDeHome {
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.cajaQuienesSomos {
  background: linear-gradient(to right, #225c42, #69c199);
}

.xxx {
  overflow-x: hidden;
}

footer {
  background-color: rgb(57, 49, 49);
}

/*# sourceMappingURL=estilos.css.map */
