@charset "UTF-8";
header {
  grid-area: header;
}
header .logoNavb {
  width: 15rem;
}
header .fuenteNav {
  font-size: 1.1rem;
  padding-left: 2rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
header .fuenteNav li a:hover {
  background-color: #80AF9A;
  color: white;
}

nav {
  grid-area: nav;
}

.slide {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.slide img {
  height: 50vh;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #80AF9A;
}

.hero {
  width: 100%;
  height: 100vh;
}

.txtH2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
  background-color: #10432c;
  animation-delay: 0.3s;
}

.txtPlanta {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #2d7f5a;
  font-weight: 600;
}

.txtP {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.btnCard {
  color: #fff;
  background-color: #39a173;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  transition: all 2s;
}
.btnCard:hover {
  color: #fff;
  background-color: #113022;
  transform: scale(1.8, 1.8);
  font-size: 25px;
  text-transform: uppercase;
}

.cardP {
  padding: 1rem;
}

.star {
  font-size: 32px;
  color: #bbb;
  transition: color 0.3s;
  cursor: pointer;
}
.star:hover {
  color: gold;
}

.card1 {
  animation-delay: 0.2s;
}

.card2 {
  animation-delay: 0.3s;
}

.card3 {
  animation-delay: 0.4s;
}

.card5 {
  animation-delay: 0.5s;
}

.card6 {
  animation-delay: 0.6s;
}

.card7 {
  animation-delay: 0.7s;
}

.card8 {
  animation-delay: 0.8s;
}

main {
  /*PAGINA INDEX*/
  /* PAGINA QUIENES SOMOS*/
  /*PAGINA COMO TRABAJAMOS*/
  /*PAGINA UBICACION Y CONTACTO*/
}
main .colorDeTexto {
  color: #fff;
}
main .tamañoDeTexto {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}
main .boton {
  transition: all 2s;
}
main .boton:hover {
  color: #fff;
  background-color: #26533f;
  text-transform: uppercase;
  transform: scale(1.8, 1.8);
}
main h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 130px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
main .imgQS {
  width: 500px;
  margin: 62px;
  animation-delay: 0.9s;
}
main .cajaFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .textoH2 {
  background-color: #284f3e;
  color: #fff;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  animation-delay: 0.3s;
}
main .textoH3 {
  text-decoration: underline;
  background-color: #69c199;
  color: black;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  animation-delay: 0.4s;
}
main .textPQ {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  margin: 5px;
  padding: 22px;
  animation-delay: 0.6s;
}
main .textoCm {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 17px;
  padding: 10px;
  animation-delay: 0.5s;
  font-weight: bold;
  text-decoration: underline;
  color: #fff;
  background-color: #284f3e;
}
main .videoCm {
  border: double;
  margin: 1rem;
  padding: 1rem;
  animation-delay: 0.9s;
}
main .cajaFlexCT {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  margin-left: 5rem;
  margin-right: 5rem;
}
main .textP {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  animation-delay: 0.8s;
}
main .cajaFlexUbiContac {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}
main .divUC {
  margin-right: 16rem;
}
main .spanFlex {
  display: flex;
  justify-content: space-between;
  animation-delay: 0.6s;
}
main .tamañoForm {
  width: 50rem;
  margin-left: 7rem;
}
main .fontF {
  font-family: "Montserrat", sans-serif;
}
main .textoH3UbiContacto {
  background-color: #284f3e;
  color: #fff;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  animation-delay: 0.4s;
}
main .textUbiContacto {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  margin: 5px;
  padding: 22px;
  animation-delay: 0.6s;
}
main .cajaFlexUbiContac2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.imagenDeHome {
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.cajaQuienesSomos {
  background: linear-gradient(to right, #225c42, #69c199);
}

footer {
  background-color: rgb(57, 49, 49);
}

@media (min-width: 350px) and (max-width: 850px) {
  .imgQS {
    width: 100px;
    margin: 5px;
  }
  .textPQ {
    font-size: 15px;
    text-align: center;
    margin: 1px;
    padding: 1px;
  }
  .cajaFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cajaFlex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .textoH2 {
    background-color: #284f3e;
    color: #fff;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .slide img {
    height: 230px;
  }
}

/*# sourceMappingURL=estilos.css.map */
